body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(IMG_3420.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  color: rgb(255, 255, 255);
}

hr {
  margin: 50px auto;
  color:rgb(121,0,0);
  border: 3px solid rgb(121, 0, 0);
  max-width: 65px;
  opacity: 1;  
}

.buffer {
  height: 50px;
}

p {
  color: rgb(255, 255, 255);
  margin-top: auto;
  margin-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.39);
}

.btn {
  font-weight: 700;
  border-radius: 400px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: rgb(121, 0, 0); 
  border-color: rgb(121, 0, 0);
}

.btn-primary:hover {
  background-color: rgb(158, 3, 3);
  border-color: rgb(158, 3, 3);
  border-width: 5px;
}

.btn-primary:active {
  background-color: blue;
  border-color: blue;
}

.btnxl {
  padding: 1rem 2rem;
}
